.title-game-sec{
  margin: 28px 0 12px 0 !important;
}
.image-list-second{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  li{
    max-width: 348px;
    width: 100%;
    margin: 14px;
  }
}
