<div class="title-game title-game-sec">
  <h2>Popular Games</h2>
  <p class="number">5</p>
</div>

<ul class="image-list-second">
  <li><a href="#"><img src="./img/big-game1.png" alt="Image 1"></a></li>
  <li><a href="#"><img src="./img/big-game2.png" alt="Image 2"></a></li>
  <li><a href="#"><img src="./img/big-game3.png" alt="Image 3"></a></li>
  <li><a href="#"><img src="./img/big-game4.png" alt="Image 4"></a></li>
  <li><a href="#"><img src="./img/big-game5.png" alt="Image 5"></a></li>
</ul>
